.jumbotron.bg-info
  %h1 Hello, Guys! 
  %p Find me in app/views/static_pages/index.html.haml
  %button.btn.btn-dark{:type => "button"} Primary

%h3
  .fab.fa-github
  .fa.fa-flag
  .fa.fa-user
  
  = link_to root_path, class: 'btn btn-primary' do
    .fa.fa-home
    Home